html,
body {
    margin: 0;
    background-color: #282a36;
    color: #f8f8f2;
    box-sizing: border-box;
}

.square {
    border-radius: 9999px;
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    text-align: center;
    line-height: 10rem;
    font-size: 2rem
}

#typewriter {
    white-space: nowrap;
    overflow: hidden;
    width: 24.09rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

#typewriter2 {
    white-space: nowrap;
    overflow: hidden;
    width: 24.09rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}