@import 'mixins';

body {
  .cover {
    .interface{
      .today {
        @include card-template(var(--cards));
        height: 200px;
        margin: 0px auto;
        &__title {
          @include title-template(var(--Josef-Sans), var(--text-col));
        }
        &__content {
          display: flex;
          padding-inline: 20px;
          justify-content: space-between;
          &-widget {
            display: flex;
            gap: 10px;
            .widget__icon2 {
              background-image: url('../imgs/wicons/p_cloudy2.png');
              width: 120px;
              height: 120px;
              flex-grow: 1;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .widget__text-col {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .widget__temp {
                display: flex;

                &-max, &-min {
                  color: var(--text-col);
                  font-family: var(--Josef-Sans);
                }
                &-max {
                  font-size: 3.5rem;
                  padding-right: 10px;
                  border-right: 2px solid var(--divider);
                }

                &-min {
                  padding-left: 10px;
                  font-size: 2rem;
                  align-self: flex-end;
                }
              }
              .widget__description2 {
                color: var(--desc-col);
                font-size: var(--sfont-size);
                text-align: center;
                font-family: var(--Josef-Sans);
              }
            }
          }
          &-stats {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            padding-bottom: 10px;
            width: 490.5px;
            height: 100%;
            .stats__prec {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              padding-right: 10px;
              border-right: 2px solid var(--divider);
              &-icon {
                background-image: url('../imgs/wicons/umbrella.png');
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
              }
              &-value2, &-hours {
                font-size: var(--sfont-size);
                color: var(--text-col);
                font-family: var(--Josef-Sans);
                align-self: flex-start;
              }
            }
            .stats__wind {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              padding-right: 10px;
              border-right: 2px solid var(--divider);
              &-icon {
                background-image: url('../imgs/wicons/wind.png');
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
              }
              &-value2, &-direct {
                font-size: var(--sfont-size);
                color: var(--text-col);
                font-family: var(--Josef-Sans);
                align-self: flex-start;
              }
            }
            .stats__date {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              &-icon {
                background-image: url('../imgs/wicons/sunrise.png');
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
              }
              &-sunrise, &-sunset {
                font-size: var(--sfont-size);
                color: var(--text-col);
                font-family: var(--Josef-Sans);
                align-self: flex-start;
              }
            }
          }
        }
      }
    }
  }
}
