* {
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-wrap: wrap;
}

#container1, #container2, #container3, #container4
{
    border: 5px solid rgb(0, 0, 0);
    height: 50vh;
    display: flex;
    width: 33%;
    box-sizing: border-box;
}

#container1{
    justify-content: space-between;
    align-items: center;
}

#container2{
    flex-direction: column;
    justify-content: space-around;
}

#container3{
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;
    overflow:auto;
}
.box1, .box2, .box3
{
    width: 70px;
    height: fit-content;
    position: relative;
    line-height: 70px;
    font-size: 3em;
    text-align: center;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: red;
}

.box3{
    background-color: yellow;
}

#container4 .box3{
    /*flex-shrink:*/
    /*flex-basis*/
    /*flex*/
    flex-grow: 1;
    /*order: -1;*/
    align-items: stretch;
}

#container4 .box1, #container4 .box2{
    align-items:stretch;
}
