* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(imgs/library.png) no-repeat center;
    background-size: cover;
}

.container {
    width: 550px;
    height: 450px;
}

.main-content .quote {
    font-family: 'Bigelow Rules', cursive;
    font-size: 3rem;
    font-weight: 500;
}

.header {
    font-size: 1.2rem;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.823);
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1;
}

.main-content .person {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    transform: all 0.5s;
}

.button-area button:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    transform: translateY(-10px);
}

.button-area button:active {
    background-color: white;
    color: black;

}
